/*-----------------------------------------------------------------------------*/
/*------------------------BASIC SETUP -----------------------------------------*/
/*-----------------------------------------------------------------------------*/













/*-----------------------------------------------------------------------------*/
/*------------------------WELCOME PAGE-----------------------------------------*/
/*-----------------------------------------------------------------------------*/

.first_img {
    border: 6px solid rgba(244, 164, 67, 0.4);
    border-radius: 50%;
}

.first_img:hover {
    border: 6px solid rgba(244, 164, 67, 0.8);
    border-radius: 50%;
}




/*---------- HOVER EFFECT ON PICTURES-----------------------*/


#homePortfolio {
    height: 100vh;
    background-image: url('images/Background.png');
    background-size: cover; 
}

#img-switch {
    background-size: cover;
}

.hidden-div-phil {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(images/PhilippELSASSER.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-emer {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(images/EmericGHERARDI.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-dave {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(images/DavidGABRIELE.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-alex {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(images/AlexandreGUERIN.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-jeff {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(images/JeffreyGERBE.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-kev {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}







/*-----------------------------------------------------------------------------*/
/*------------------------MODAL------------------------------------------------*/
/*-----------------------------------------------------------------------------*/



 
.modal-lg {
    max-width: 95%;
    margin-top: 100px;
}

i { font-size: 2.5rem;}

.modal-body {
    background-image: url(images/Background.png);
} 
