/*-----------------------------------------------------------------------------*/
/*------------------------BASIC SETUP -----------------------------------------*/
/*-----------------------------------------------------------------------------*/








html, body {
    width: 100%;
}


/* Modif Emeric pour du smooth scroll */
html {
    scroll-behavior: smooth; /*unsupported in IE and Safari*/
}

/*-----------------------------------------------------------------------------*/
/*------------------------WELCOME PAGE-----------------------------------------*/
/*-----------------------------------------------------------------------------*/

.first_img {
    border-radius: 50%;
}

/*---------- HOVER EFFECT ON PICTURES-----------------------*/

#homePortfolio {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover; 
    z-index: ;
}

#img-switch {
    background-size: cover;
}

.hidden-div-phil {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(images/Phil_preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-emer {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(images/Alexandre%20GUERIN%20ORANGE.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-dave {
    display: none;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 10px;
}

.hidden-div-alex {
    display: none;
    background-color: rgba(0, 0, 0, 0.62);
        background-image: url(images/Alexandre%20GUERIN%20ORANGE.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hidden-div-jeff {
    display: none;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 10px;
}

.hidden-div-kev {
    display: none;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 10px;
}



/*-----------------------------------------------------------------------------*/
/*------------------------MODAL------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

.modal-lg {
    max-width: 95%;
    margin-top: 100px;
}

i { font-size: 2.5rem;}

.modal-body {
    background-image: url(images/Background.png);
} 

 
      

/*-----------------------------------------------------------------------------*/
/*------------------------HOME------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Anton');

#homepage {
    height: 50vw;
        /*border: 2px solid black;*/
    background-image: url(WCS1.jpg);
    background-attachment: fixed;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: calc(100%);
    z-index: ;
}

.welcome{
   
}
.titre1 {
    margin-top: 6%;
    font-family: "Anton";
    font-size: 7em;
    line-height: 0.9;
    text-align: center;
    color: floralwhite;
}

.doublev {
    color: #ea701e;
    border: 2px
}

.titre2 {
    font-size: 3.5em;
    letter-spacing: 4px;
    text-decoration: ;
    text-align: center;
    color: #fff5ea;
}
@media (max-width: 768px) {
    .titre2 {
        font-size: 1.5em;
    }
    .titre1 {
        font-size: 3em;   
    } 
}

.btn-link {
    position: absolute;
    left:48%;
    top: 80%;
}

@media (max-width: 1524px) {
    .btn-link {
        top: 60%;
    }
}

@media (max-width: 1160px) {
    .btn-link {
        z-index: -1;
    }
}



