/*-----------------------------------------------------------------------------*/
/*------------------------BASIC SETUP -----------------------------------------*/
/*-----------------------------------------------------------------------------*/













/*-----------------------------------------------------------------------------*/
/*------------------------WELCOME PAGE-----------------------------------------*/
/*-----------------------------------------------------------------------------*/



/*---------- HOVER EFFECT ON PICTURES-----------------------*/

.second_img {
  display: none;
}

.hover_img:hover .second_img {
  display: block;
}

.hover_img:hover .first_img {
  display: none;
}





/*-----------------------------------------------------------------------------*/
/*------------------------MODAL------------------------------------------------*/
/*-----------------------------------------------------------------------------*/



 
      .modal-lg {
        max-width: 95%;
        margin-top: 100px;
      }

      i {
        font-size: 2.5rem;
      }
