/*-----------------------------------------------------------------------------*/
/*------------------------BASIC SETUP -----------------------------------------*/
/*-----------------------------------------------------------------------------*/








html, body {
    width: 100%;
}


/* Modif Emeric pour du smooth scroll */
html {
    scroll-behavior: smooth; /*unsupported in IE and Safari*/
}

/*-----------------------------------------------------------------------------*/
/*------------------------WELCOME PAGE-----------------------------------------*/
/*-----------------------------------------------------------------------------*/



/*---------- HOVER EFFECT ON PICTURES-----------------------*/

.second_img {
  display: none;
}

.hover_img:hover .second_img {
  display: block;
}

.hover_img:hover .first_img {
  display: none;
}




/*-----------------------------------------------------------------------------*/
/*------------------------MODAL------------------------------------------------*/
/*-----------------------------------------------------------------------------*/



 
      .modal-lg {
        max-width: 95%;
        margin-top: 100px;
      }

      i {
        font-size: 2.5rem;
      }


/*-----------------------------------------------------------------------------*/
/*------------------------HOME------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Anton');

#homepage {
    height: 50vw;
        /*border: 2px solid black;*/
    background-image: url(WCS1.jpg);
    background-attachment: fixed;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: calc(100%)
}

.welcome{
   
}
.titre1 {
    margin-top: 6%;
    font-family: "Anton";
    font-size: 7em;
    line-height: 0.9;
    text-align: center;
    color: floralwhite;
}

.doublev {
    color: #ea701e;
}

.titre2 {
    font-size: 3.5em;
    letter-spacing: 4px;
    text-decoration: ;
    text-align: center;
    color: bisque;
}
@media (max-width: 768px) {
    .titre2 {
        font-size: 1.5em;
    }
    .titre1 {
        font-size: 3em;   
    } 
}

.btn-link {
    position: absolute;
    left:48%;
    top: 80%;
}

.homePortfolio {
    background-color: #f7f7f2;
}

.homePortfolio img{
    border: 9px solid black;
}

/* essai essai essai */
.perso {
    position: absolute;
    right: 130%;
    background-image: url(standing-man-silhouette.png);
    background-position: center;
    background-size: contain;
}
.hover_img:hover .perso {
    width: 200%;
    height: 200%;
    background-color: red;
}
